/************************/
/**** MEDIA QUERIES *****/
/************************/
@media (max-width: 50em) {
  .header {
    justify-items: center;
  }

  .grid--4-cols {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }

  .certificates {
    grid-column: 1 / -1;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }
}
