/*****************/
/**** NAVBAR *****/
/*****************/

.header {
  background-color: var(--tint1);

  height: 8rem;
  width: 100%;
  transition: all 0.3s ease-in;
  padding: 1.2rem 4.8rem;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navbar li {
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.logo:link,
.logo:visited {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.logo span {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}

.my-photo {
  width: 6rem;
  border-radius: 50%;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--gray);
  position: relative;

  transition: all 0.3s;
  z-index: 1;
}

.nav-link:link::before,
.nav-link:visited::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);

  transition: all 0.3s;

  z-index: -1;
}

.nav-link:hover,
.nav-link:active {
  color: var(--shade1);
}

.nav-link:hover::before,
.nav-link:active::before {
  width: 100%;
}

.nav-link--action:link,
.nav-link--action:visited {
  border: 3px solid var(--primary-color);
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  color: var(--primary-color);
}

.nav-link--action:hover,
.nav-link--action:active {
  color: var(--white);
}

.nav-link--action:link::before,
.nav-link--action:visited::before {
  top: 0;
  height: 100%;
}

.nav-link--action:hover::before,
.nav-link--action:active::before {
  width: 100%;
}

/* MOBILE NAVIGATION */

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;

  display: none;
}

.icon {
  stroke: var(--black);
  width: 48px;
  height: 48px;
}

.icon-cross {
  display: none;
}

/*****************/
/**** WELCOME *****/
/*****************/
.welcome {
  background-color: var(--tint1);
  padding-bottom: 9.6rem;
}

.welcome .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.welcome .main-heading {
  text-transform: none;
  font-size: 5.6rem;
  margin: 0;
}

.subheading {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 2.2rem;
}

/*****************/
/**** ABOUT *****/
/*****************/

.about {
  padding: 9.6rem 0;
  text-align: center;
}

.description-box {
  padding: 0 3.6rem;
}

.main-profile-wrapper {
  padding: 8px;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  width: 30%;
  height: 30%;
  margin: 0 auto 3.2rem auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-profile {
  width: 100%;
  border-radius: 50%;
}

.greeting-text {
  font-size: 4.8rem;
  color: var(--gray);
  margin-bottom: 3.6rem;
}

.description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

/*****************/
/**** SKILLS *****/
/*****************/

.skills {
  padding: 9.6rem 0;
}

.skills ul {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.skills li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

.skills-box {
  row-gap: 3.2rem;
}

.languages,
.tools {
  margin-bottom: 4.2rem;
}

.languages li {
  padding: 0.8rem 3.2rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 9px;
}

.tools {
  justify-self: center;
}

.tools li {
  padding: 0.8rem 3.2rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 9px;
}

.certificates {
  grid-column: 1 / -1;
}

/*****************/
/**** PROJECTS *****/
/*****************/
.projects {
  padding: 9.6rem 0;
}

.project-images {
  position: relative;
}

.project-subheading {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.project-title {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 4.8rem;
}

.project-wrapper {
  margin-bottom: 9.6rem;
}

.img--1 {
  width: 100%;
  margin-bottom: 1.2rem;
}

.img-mobile {
  display: flex;
  gap: 1.2rem;
}

.img--2,
.img--3,
.img--4 {
  width: 32%;
}

.description-wrapper {
  align-self: center;
}

.project-desc {
  font-size: 1.8rem;
  line-height: 1.8;

  margin-bottom: 1.8rem;
}

.project-action-btns {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.project-action-btns .btn:link,
.project-action-btns .btn:visited {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************/
/**** CONTACT SECTION *****/
/*****************/
.contact {
  text-align: center;

  padding: 9.6rem 0;
}

.contact-text {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.8;
}

.btn:link,
.btn:visited {
  padding: 1.2rem 2.4rem;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 9px;
  text-decoration: none;

  transition: all 0.3s;

  position: relative;
  z-index: 1;
}

.btn:link::before,
.btn:visited::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;

  background-color: var(--primary-color);

  z-index: -1;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--white);
}

.btn:hover::before,
.btn:active::before {
  width: 100%;
}

/*****************/
/**** FOOTER *****/
/*****************/
footer {
  margin-top: 3.6rem;
  border-top: 2px solid #f7f7f7;
  padding: 3.6rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2.4rem;

  margin-bottom: 2.4rem;
}

.social-links {
  list-style: none;
}

.social-links a:link,
.social-links a:visited {
  text-decoration: none;
  color: var(--gray);

  transition: all 0.3s;
}

.social-links a:hover,
.social-links a:active {
  color: var(--primary-color);
}

.social-links a:hover .icon,
.social-links a:visited .icon {
  transform: scale(1.2);
}

.social-links .icon {
  width: 3rem;
  height: 3rem;

  transition: all 0.3s;
}

footer p {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

footer .copyright-text {
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
}

/***********************************/
/**** STICKY NAVIGATION  *****/
/**********************************/

.sticky .header {
  position: fixed;
  height: 8rem;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--tint1);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .welcome {
  margin-top: 8rem;
}
